@font-face {
    font-family: Pixel;
    src: url('fonts/DisposableDroidBB.ttf');
}

body {
    background-color: #000000;
}

.login_container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vw;
    width: 100%;
}

.login_title {
    font-family: Pixel, serif;
    color: #9200db;
    text-align: center;
    font-size: 2.5vw;
}

.input_label {
    margin-bottom: 1vw;
    font-family: Pixel, serif;
    color:#9200db;
    font-size: 2vw;
}

.input {
    align-self: center;
    font-family: Pixel, serif;
    font-size: 2vw;
    border-width: 0.2vw;
    border-color: #9200db;
    padding: 0.5vw;
    color: #9200db;
    outline: none;
    border-radius: 0.5vw;
    background-color: black;
    width: 100%;
    size: 5vw;
}

.corner_text_top {
     font-family: Pixel, serif;
     font-size: 1.5vw;
     color: #9200db;
}

.title_text {
    font-family: Pixel, serif;
    font-size: 3vw;
    color: #9200db;
    text-align: center;
    margin-top: 0;
    margin-bottom: 5vw;
    text-decoration: underline;
    text-decoration-thickness: 0.2vw;
    text-underline: #9200db;
}

.login_form {
    display: inline-block;
    height: auto;
    width:40%;
    text-align: left;
}

.other_link {
    height:0.5vw;
    margin-top: 1vw;
    margin-right: 0;
    font-family: Pixel, serif;
    font-size: 1.5vw;
    color: #9200db;
    text-align: right;
    text-decoration: underline #330d48;
    cursor: pointer;
}

.submit_button {
    background: none;
    border: none;
}

a {
    word-wrap: normal;
}

p {
    user-select: none;
}

p.other_link:hover {
    height:0.5vw;
    margin-top: 1vw;
    margin-right: 0;
    font-family: Pixel, serif;
    font-size: 1.5vw;
    color: #9200db;
    text-align: right;
    text-decoration: underline #9200db;
    cursor: pointer;
}

p.other_link:active {
    height:0.5vw;
    margin-top: 1vw;
    margin-right: 0;
    font-family: Pixel, serif;
    font-size: 1.5vw;
    color: #9200db;
    text-align: right;
    text-decoration: underline #be78e7;
    cursor: pointer;
}

h3 {
    font-weight: normal;
}
