<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>log_in</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" href="../static/css/login.css">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/261/261787.png">
</head>
<body style="padding-left: 3vw; padding-top: 1vw; padding-right: 3vw">
    <div style="display: flex; justify-content: space-between;">
        <h3 class="corner_text_top">retro_night_backend™</h3>
        <h3 class="corner_text_top">developed_by codewelder</h3>
    </div>
    <div class="login_container" id="container">
        <h1 class="login_title" id="title">log_in</h1>
        <form class="login_form" id="login_form">
            <h3 class="input_label">username</h3>
            <input type="text" class="input" id="username" placeholder="enter_username..">
            <h3 class="input_label">password</h3>
            <input type="password" class="input" id="password" placeholder="enter_password..">
            <a href="" id="forgot_username">
                <p class="other_link">forgot_username</p>
            </a>
            <a href="" id="forgot_password" style="margin-top: 0">
                <p class="other_link">forgot_password</p>
            </a>
            <a href="" id="submit" >
                <p class="other_link" style="font-size: 2vw; text-align: center; margin-top: 5vw">submit_</p>
            </a>
        </form>
    </div>
    <div style="display: flex; justify-content: space-between; margin-top: 3vw">
        <h3 class="corner_text_top"></h3>
        <h3 class="corner_text_top">v0.1_alpha</h3>
    </div>
</body>
</html>